body {
    padding: 0;
    margin: 0;
}
#landing h4{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}
#landing h1 {
    font-size: 6rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(90deg, #FFBE0B, #9747FF);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #00000030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#about h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 2rem;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 75%;
    font-size: 1.5rem;
    justify-content: space-between;
    gap: 2rem;
}
#container p {
    margin: 0;
    padding: 0;
    text-align: right;
    display: flex;
    align-items: center;
    height: 50vh;
    flex: 1;
}
#container img {
    border-radius: 8px;
    height: 45vh;
    width: 45vh;
}

@media only screen and (max-width: 600px) {
    #container {
        flex-direction: column;
    }
    #container p {
        text-align: center;
    }
    #container img {
        height: 25vh;
        width: 25vh;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    #container img {
        height: 30vh;
        width: 30vh;
        flex: .25;
    }

    #container p {
        font-size: 2.5vw;
        flex: 4;
    }
}